<div class="popup">
    <h3>Edit task:</h3>
    <div class="popup-body">
        <p class="popup-info"></p>
        <input type="text" class="popup-title-input" placeholder="Enter new task title...">
        <input type="text" class="popup-detail-input" placeholder="Enter new task details...">
        <input type="text" class="popup-deadline-input" placeholder="Enter new task deadline...">
        <button class="popup-btn accept">Accept</button>
        <button class="popup-btn cancel">Cancel</button>
        <button class="popup-btn delete">Delete</button>
    </div>
</div>
